body {
    background: black; 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1,h2 {
    text-align: center;
}

h1,h2,p {
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:20px;
    margin-bottom: 20px;
    background: gray; 
    border-radius: 5px;
    box-shadow: 5px 10px skyblue;
}

.assignment img {
    border: 2px solid skyblue;
    margin-right: 20px;
    border-radius: 5px;
}

    a {
        text-decoration:none;
        color:skyblue;
    }

    .assignment a  :hover {
        color: purple; 
    }

